<h1>Undefine a Schema in Tamino</h1>
<%= form_tag({:action => "undefine"  }) %>
  <label for="name"> Schema name:</label> <%= text_field_tag "name", "people" %><br/> 

  <%= submit_tag "Undefine" %>
<%= end_form_tag %>
  